<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Actualizar producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/actualizarProducto.css}'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
    <div class="rectangulo">
        <img th:src="@{/images/logo.PNG}">
    </div>
    <div class="paginaPrincipal">
        <div class="opciones">
            <div class="bienvenido">Añadir producto</div>
            <div class="rectangulo-navegacion">
                <p>
                    <a class="perfil" th:href="@{/vendedor/perfilVendedor}">
                        <img th:src="@{/images/perfil.PNG}" class="foto-perfil">
                        Perfil
                    </a>
                </p>
                <p>
                    <a class="ayuda" th:href="@{/vendedor/ayuda}">
                        <img th:src="@{/images/ayuda.PNG}" class="foto-ayuda">
                        Ayuda
                    </a>
                </p>
            </div>
            <form th:action="@{/logout}" method="post">
                <input class="cerrarSesion" type="submit" value="Logout" />
            </form>
        </div>
        <div class="actualizarProducto">
            <form action="#" th:action="@{/vendedor/productos/actualizar/{id}(id=${producto.id})}"
                th:object="${producto}" method="post">
                <div class="formulario">
                    <div class="nombre">
                        <label for="nombre" class="textoNombre">Nombre</label>
                        <p></p>
                        <input type="text" th:field="*{nombre}" id="nombre" placeholder="Nombre" class="inputNombre">
                        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                    </div>
                    <div class="precio">
                        <label for="precio" class="textoPrecio">Precio</label>
                        <p></p>
                        <input type="text" th:field="*{precio}" id="precio" placeholder="Precio" class="inputPrecio">
                        <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></span>
                    </div>

                    <div class="descripcion">
                        <label for="descripcion" class="textoDescripcion">Descripción</label>
                        <p></p>
                        <input type="text" th:field="*{descripcion}" id="descripcion" placeholder="Descripción"
                            class="inputDescripcion">
                        <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
                    </div>

                    <div class="tienda">
                        <label for="tienda" class="textoTienda">Tienda</label>
                        <p></p>
                        <input type="text" th:field="*{tienda}" id="tienda" placeholder="Tienda" class="inputTienda">
                        <span th:if="${#fields.hasErrors('tienda')}" th:errors="*{tienda}"></span>
                    </div>

                    <div class="stock">
                        <label for="stock" class="textoStock">Stock</label>
                        <p></p>
                        <input type="number" th:field="*{stock}" id="stock" placeholder="Stock" class="inputStock">
                        <span th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></span>
                    </div>

                    <div class="botonAñadirProducto">
                        <input type="submit" value="Actualizar producto" class="submitProducto">
                    </div>

                    <button onclick="history.go(-1)" class="cancelar">Cancelar</button>

                </div>
            </form>
        </div>
    </div>

</body>
<!-- 
<body>
    <div class="container my-5">
        <h3> Actualizar producto</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form action="#" th:action="@{/vendedor/productos/actualizar/{id}(id=${producto.id})}" th:object="${producto}"
                        method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="nombre" class="col-form-label">Nombre</label> <input type="text"
                                    th:field="*{nombre}" class="form-control" id="nombre" placeholder="Nombre"> <span
                                    th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                                    class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="precio" class="col-form-label">Precio</label> <input type="text"
                                    th:field="*{precio}" class="form-control" id="precio" placeholder="Precio"> <span
                                    th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"
                                    class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="descripcion" class="col-form-label">Descripción</label> <input type="text"
                                    th:field="*{descripcion}" class="form-control" id="descripcion"
                                    placeholder="Descripción"> <span th:if="${#fields.hasErrors('descripcion')}"
                                    th:errors="*{descripcion}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="tienda" class="col-form-label">Tienda</label> <input type="text"
                                    th:field="*{tienda}" class="form-control" id="tienda" placeholder="Tienda"> <span
                                    th:if="${#fields.hasErrors('tienda')}" th:errors="*{tienda}"
                                    class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="stock" class="col-form-label">Stock</label> <input type="number"
                                    th:field="*{stock}" class="form-control" id="stock" placeholder="Stock"> <span
                                    th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"
                                    class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary" value="Actualizar producto">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body> -->

</html>