<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Página de usuario</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/paginaUsuario.css}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Allerta+Stencil&display=swap" rel="stylesheet">
</head>

<body>
    <div class="rectangulo">
        <img th:src="@{/images/logo.PNG}">
    </div>
    <div class="paginaUsuario">
        <div class="opciones">
            <div class=" bienvenido">Tienda</div>
            <div class="rectangulo-navegacion">
                <p>
                    <a class="perfil" th:href="@{/usuario/perfilUsuario}">
                        <img th:src="@{/images/perfil.PNG}" class="foto-perfil">
                        Perfil
                    </a>
                </p>
                <p>
                    <a class="carrito" th:href="@{/usuario/carritoUsuario}">
                        <img th:src="@{/images/carrito.PNG}" class="foto-carrito">
                        Carrito
                    </a>
                </p>
                <p>
                    <a class="miscompras" th:href="@{/usuario/misComprasUsuario}">
                        <img th:src="@{/images/miscompras.PNG}" class="foto-miscompras">
                        Mis compras
                    </a>
                </p>
                <p>
                    <a class="ayuda" th:href="@{/usuario/ayuda}">
                        <img th:src="@{/images/ayuda.PNG}" class="foto-ayuda">
                        Ayuda
                    </a>
                </p>
                <p>
                    <a class="entrega-solidaria" th:href="@{/usuario/entregaSolidaria}">
                        <img th:src="@{/images/entrega-solidaria.PNG}" class="foto-entrega">
                        Entrega solidaria
                    </a>
                </p>
            </div>
            <!-- window.location.href='/usuario/paginaPrincipal' -->
            <button onclick="window.location.href='/usuario/paginaPrincipal'">Volver</button>
            <form th:action="@{/logout}" method="post">
                <input class="cerrarSesion" type="submit" value="Logout" />
            </form>
        </div>
        <div class="productos">
            <a class="input-buscar">
                <div>Productos a la venta:</div>
                <input placeholder="Buscar producto" class="input">
            </a>
            <div class="scroll-productos">
                <div class="mensajes">
                    <div class="texto" th:each="producto : ${productos}">
                        <a th:text="${producto.nombre}"></a>
                        <a class="precio">(</a><a class="precio" th:text="${producto.precio}"></a><a class="precio">
                            €)</a>
                        <a class="descripcion">(</a><a class="descripcion" th:text="${producto.descripcion}"></a><a
                            class="descripcion">)</a>
                        <a th:href="@{/usuario/añadirAlCarrito/{id}(id=${producto.id})}" th:if="${producto.elegido == false}" class="textoAñadir">
                            <img th:src="@{/images/añadirAlCarrito.png}" class="fotoAñadirAlCarrito">
                        </a>
                        <a th:href="@{/usuario/añadirAlCarrito/{id}(id=${producto.id})}" th:if="${producto.elegido == true}" class="textoAñadir">
                            <img th:src="@{/images/añadidoAlCarrito.png}" class="fotoAñadidoAlCarrito">
                        </a>
                        
               <!--          <img th:if="${producto.elegido == true}" th:src="@{/images/añadidoAlCarrito.png}"
                            class="fotoAñadidoAlCarrito">
                        <img th:if="${producto.elegido == false}" th:src="@{/images/añadirAlCarrito.png}"
                            class="fotoAñadirAlCarrito"> -->

                    </div>
                </div>
            </div>
            <a class="finalizarCompra" th:href="@{/usuario/carritoUsuario}">Finalizar compra</a>
            <div class="letra-pequeña">*Si está confinado y necesita reparto a domicilio marque la opción "Confinado"
                dentro de su perfil </div>
        </div>
    </div>

</body>

</html>