<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tiendas disponibles</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/paginaTiendas.css}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Allerta+Stencil&display=swap" rel="stylesheet">
    <script src='main.js'></script>
</head>

<body>
    <div class="rectangulo">
        <img th:src="@{/images/logo.PNG}">
    </div>
    <div class="paginaTiendas">
        <div class="opciones">
            <div class="bienvenido">¡Bienvenido!</div>
            <div class="rectangulo-navegacion">
                <p>
                    <a class="perfil" th:href="@{/usuario/perfilUsuario}">
                        <img th:src="@{/images/perfil.PNG}" class="foto-perfil">
                        Perfil
                    </a>
                </p>
                <p>
                    <a class="carrito" th:href="@{/usuario/carritoUsuario}">
                        <img th:src="@{/images/carrito.PNG}" class="foto-carrito">
                        Carrito
                    </a>
                </p>
                <p>
                    <a class="miscompras" th:href="@{/usuario/misComprasUsuario}">
                        <img th:src="@{/images/miscompras.PNG}" class="foto-miscompras">
                        Mis compras
                    </a>
                </p>
                <p>
                    <a class="ayuda" th:href="@{/usuario/ayuda}">
                        <img th:src="@{/images/ayuda.PNG}" class="foto-ayuda">
                        Ayuda
                    </a>
                </p>
                <p>
                    <a class="entrega-solidaria" th:href="@{/usuario/entregaSolidaria}">
                        <img th:src="@{/images/entrega-solidaria.PNG}" class="foto-entrega">
                        Entrega solidaria
                    </a>
                </p>
            </div>
            <button onclick="window.location.href='/'">Cerrar sesión</button>
        </div>
        <div class="productos">
            <a class="input-buscar">
                <div>Tiendas disponibles:</div>
                <input placeholder="Buscar tienda" class="input">
            </a>
            <div class="scroll-productos">
                <div class="mensajes">
                    <div class="texto" th:each="tienda : ${tiendas}">
                        <a th:href="@{/usuario/productos/{nombre}(nombre=${tienda.nombre})}" th:text="${tienda.nombre}"></a>
                    </div>
                </div>
            </div>
            <div class="letra-pequeña">*Si está confinado y necesita reparto a domicilio marqué la opción "Confinado"
                dentro de su perfil </div>
        </div>
    </div>

</body>

</html>