<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ayuda</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/ayuda.css}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Allerta+Stencil&display=swap" rel="stylesheet">
    <script src='main.js'></script>
</head>

<body>
    <div class="rectangulo">
        <img th:src="@{/images/logo.PNG}">
    </div>
    <div class="ayuda">
        <img th:src="@{/images/ayudaFondoGris.PNG}" class="foto-ayuda">
        Ayuda
    </div>
    <div class="informacion">
        <p>Si tiene algún problema, no dude en contactar con nosostros a través de:</p>
        <p>
            <img th:src="@{/images/telefono.PNG}" class="telefono"> +34 656 789 123
        </p>
        <p>
            <img th:src="@{/images/correo.PNG}" class="correo"> atencioncliente@barriocovid.es
        </p>
        <p>Y nos pondremos en contacto con usted para arreglar lo sucedido.</p>
        
        <button onclick="history.go(-1)">Volver</button>
    </div>
</body>

</html>